<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>ImageURL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{description}}</td>
            <td>{{imagePath}}</td>
            <td>
                <a href="/admin/products/{{_id}}/delete" class="btn btn-danger">Delete</a>
                <a href="">Edit</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>