<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card card-body">
                <div class="row">
                    <div class="col-4">
                        <img src="{{product.image.path}}" alt="{{product.name}}" class="img-fluid">
                    </div>
                    <div class="col-8">
                        <h3>{{product.name}}</h3>
                        <h2 class="display-4">{{product.price}}$</h2>
                        <p>{{product.description}}</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nam commodi velit ipsa deleniti quasi est corporis voluptatibus ipsum esse, consequuntur quisquam quidem rem nemo quae laborum repudiandae sed ducimus inventore soluta temporibus omnis alias vitae. Quam pariatur vitae expedita omnis! Perspiciatis autem similique pariatur aliquid cumque provident blanditiis dignissimos.</p>
                        <a href="/cart/add/{{_id}}" class="btn btn-primary btn-lg">
                            <i class="fas fa-shopping-cart"></i> Add to Cart
                        </a>
                    </div>
                </div>

            </div>
            <hr>
            <div class="card card-body">
                <p>Comments (30)</p>
            </div>
        </div>
    </div>
    